**/.ipynb_checkpoints/*
**.log
*.pyc
*/*.pyc
*/**/__pycache__/*
fcn_keras/tensorboard/*
old/
fcn_keras/snapshots/*
fcn_keras/experiments/*
!.gitkeep
.ipynb_checkpoints
*/.ipynb_checkpoints/*
fcn_keras/datasets/VOC2012/*
*~